@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    
}

.container{
    background-color: rgb(250, 250, 250);
    height: 100%;
    display: grid;
    grid-template: 3fr 2fr 3fr / 1.181fr 2fr;
    grid-template-areas: 
        "left header" "left form" "left account";
    align-items: end;
}

.left{
    height: 100%;
    background-image: url(./leaf.jpg);
    grid-area: left;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 

}

.header{
    grid-area: header;
    padding-top: 140px;
    padding-left: 38px;
    padding-right: 150px;
    padding-bottom: 51px;
    font-weight: 900;
    font-size: 1.22rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form{
    grid-area: form;
    display: grid;
    grid-template: 1fr 1fr 1fr / 250px 250px;
    row-gap: 19px;
    column-gap: 25px;

}

.body {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 15px;
    padding-left: 38px;
    padding-bottom: 35px;
    gap: 20px;
    font-weight: 900;
    font-size: 1.22rem;
    box-shadow: 0 5px 10px -4px rgb(191, 190, 190), 0 -1px 5px -10px rgb(225, 224, 224);;
}

.logo-box {
   background-color: rgba(0, 0, 0, 0.45);
   grid-area: 1/1/2/2;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
   font-family: "Norse", sans-serif;
}

.logo-box > span {
    font-size: 5rem;
    color: white;
}

.photo-credits, a, a:visited{
    grid-area: 3/1/4/2;
    font-size: 0.7rem;
    margin-bottom: 10px;
    justify-self: center;
    color: rgb(255, 255, 255, 0.7)
    
}

label{
    display: block;
    font-size: 0.62rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgb(79, 78, 78);
    margin-bottom: 1px;
}

input {
    width: 204px;
    height: 1.32rem;
    border: 1.3px solid #E5E7EB;
    border-radius: 3px;
    padding-left: 8px;
}

input:focus{
    outline: 1.35px solid rgb(92, 136, 230);
    box-shadow: 2px 2px 5px -1px #9f9f9f;
}

input:focus:invalid{
    outline: 1.35px solid rgb(218, 94, 94);
    box-shadow: 2px 2px 5px -1px #9f9f9f;
}

.account {
    display: flex;
    flex-direction: column;
    grid-area: account;
    padding-left: 40px;
    padding-top: 30px;
    gap: 28px;
    font-size: 0.9rem;
    font-weight: 405;
}

.account button{
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #596D48;
    padding: 12px 0;
    border: 0;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    width: 193px;
    box-shadow: 1px 1px 5px -3px rgb(0, 0, 0);
}
.account a{
    color: #596D48;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
}

